<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>DEV</title>
</head>
<body>
    <h1>Dev Skills</h1>
    <h2>TIME AS OF <%= time %> </h2>
    <ul>
        <% devs.forEach(function(t) { %> 
            <li>
                <form action="/devs/<%= t.id %>?_method=DELETE" class="delete-form" method="POST">
                    <button type="submit">X</button>
                </form>
                <a href="/devs/<%= t.id %>"><%= t.dev %></a>
                   -
                <%= t.done ? 'done' : 'not done'  %> 
            </li>
        <% }) %> 
    </ul>
    <a href="/devs/new">ADD SKILLS</a><br>
    <a href="/">Go Back</a>
</body>
</html>